header {
	margin-left: 0;
	flex-direction: column;
	text-align: center;
}

#header-icon {
	width: 14vh;
	height: 14vh;

	margin: auto auto 1vh auto;
	border-radius: 14vh;
}

#links {
	margin-top: 10vh;

	flex-direction: column;
}
