/* AVATAR */

#header-icon {
	width: 10vw;
	height: 10vw;

	margin-right: 2vw;

	border: 4px solid #757575;
	color: #424242;
	border-radius: 10vw;
}

/* LINKS */

#links {
	width: 70%;

	margin-top: 25vh;

	display: flex;
	justify-content: space-around;
}

#links a {
	font-size: 1.5em;

	margin-top: 1vh;
	margin-bottom: 1vh;
	margin-right: 1vw;
	margin-left: 1vw;

	padding-top: 1vh;
	padding-bottom: 1vh;
	padding-right: 2vw;
	padding-left: 2vw;

	border: 2px solid #9e9e9e;

	text-decoration: none;
	color: #9e9e9e;
}

#links svg { margin-right: 0.5vw; }

#links a:hover {
	background-color: #9e9e9e;
	color: white !important;
}
