/* DUNNO */

html, body {
	max-height: 100%;
	width: 100%;

	margin: 0;

	font-family: 'Source Code Pro', monospace;

	background-color: #212121;
	color: #9e9e9e;
}

::selection {
	background-color: #9e9e9e;
	color: #212121;
}

/* HEADER */

header {
	margin-left: 5vw;
	margin-top: 7vh;

	display: flex;
	flex-direction: row;

	font-family: 'Fira Sans', sans-serif;
}

#header-icon {
	margin-right: 2vw;

	font-size: 5em;

	color: #757575;
}

#header-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#title {
	padding-bottom: 0;
	font-size: 2.5em;
}

#subtitle {
	padding-top: 0;

	font-family: 'Source Code Pro', monospace;

	font-size: 1em;
	color: #757575;
}

/* INDEX, SOURCE */

#index, #source {
	position: absolute;

	bottom: 0;

	padding-left: 2vw;
	padding-right: 2vw;
	padding-bottom: 2vh;

	text-decoration: none;
	color: #9e9e9e;
}

#index:hover, #source:hover { color: white; }

#index { left: 0;}
#source { right: 0;}
