html, body {
	max-height: 100%;
	width: 100%;

	margin: 0;

	font-family: 'Source Code Pro', monospace;

	background-color: #212121;
	color: #9e9e9e;
}

#index, #source {
	position: absolute;
	bottom: 0;
	padding-left: 2vw;
	padding-right: 2vw;
	padding-bottom: 2vh;
	color: #9e9e9e;
}

#index:hover, #source:hover { color: white; }

#index { left: 0;}
#source { right: 0;}
