header {
	display: flex;
	flex-direction: row;
}

#header-icon {
	width: 10vw;
	height: 10vw;
	border: 3px solid #9e9e9e;
	border-radius: 11vw;
	margin-right: 2vw;
}

@media (orientation: portrait) {
	#header-icon {
		width: 14vh;
		height: 14vh;
		border-radius: 15vh;
	}
}

#header-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#title {
	padding-bottom: 0;
	font-size: 2.5em;
}

#subtitle {
	padding-top: 0;

	font-size: 1.2em;
	color: #757575;
}

main {
	margin-top: 25vh;
	font-size: 1.5em;
}

main a {
	color: #9e9e9e;
}
