html, body {
	max-height: 100%;

	font-family: 'Hack', monospace;

	margin-left: 5vw;
	margin-top: 3vh;

	background-color: #212121;
	color: #9e9e9e;
}

a {
	color: #9e9e9e;
	text-decoration: none;
}

a:hover { 
	background-color: #9e9e9e; color: #212121;
}

#title {
	padding-bottom: 0;
	font-size: 2.5em;
}

main {
	margin-top: 10vh;
	margin-bottom: 7vh;
	font-size: 1.1em;
}

#index, #source {
	position: fixed;

	bottom: 0;
	font-size: 1.2em;

	margin-left: 2vw;
	margin-right: 2vw;
	margin-bottom: 2vh;
}

#index {
	left: 0;
}

#source {
	right: 0;
}
