html, body {
    margin-left: 3vw;
    margin-right: 3vw;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main div {
    width: 38vw;
    padding: 2vh 5vh 3vh 5vh;
}

span#general-error {
    display: none;
    max-width: 500px;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .15em;
    border-right: .15em solid #9e9e9e;
    margin: 0 auto;
    animation: typing 8s steps(50, end), blink-caret 1s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #9e9e9e; }
}